<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/style.css" type="text/css" />
		<title>MVC With Cats!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../js/fable.js"></script>
        {{!-- update script file --}}
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
